body{
    background-image: url(https://cdn.wallpapersafari.com/28/77/XoaefB.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.navbar{
    width: 100%;
    height: 70px;
    /* background-color: blue; */
    display: flex;
     flex-direction: row;
    justify-content: space-evenly;
}
.navbar a{
   text-decoration: none;
   color: wheat;
   font-size: large;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar a:hover{
    color: orange;
    
}
button, input{ 
    margin: 0px;
    gap: 0px;
    padding-left: 15px;
}
.nav-barInput{
    width: 170px;
    height: 35px;
    border: 2px solid wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
    color: wheat;
    border-radius: 7px;
}
.search-Button{
    width: 100px;
    height: 40px;
    margin-top: 6px;
    margin-right: 8px;
    color: black;
    background-color: wheat;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* section{
    color: #fff;
    font-size: 20px;
} */


.main-div{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
}

.section{
    width: 420px;
    height: 60px;
    margin-top: 110px;
    margin-left:50px;
    color: #fff;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 16px;
}
.devl{
    color: orange;
    font-size: larger;
}
.para{
    font-size: 13px;
    line-height: 20px;
}
.login{
    width: 230px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    border-radius: 10px;
    padding: 25px;
    margin-right: 150px;
    margin-top: 100px;
}
.login-here{
    width: 150px;
    height: 26px;
    text-align:center;
    margin-left: 30px;
    font-family:sans-serif;
    font-size: 22px;
    border-radius: 6px;
}
.login-form{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.login input{
    width: 240px;
    height: 34px;
    background:transparent;
    margin-top: 25px;
    color: white;
    letter-spacing: 1px;
    font-size:13px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.login input:focus{
    outline: none;
}
.btn{
    width: 230px;
    height: 40px;
    background-color: lightslategrey;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 6px;
    transition-duration: 1s;
}
.btn:hover{
    background-color: orange;
    transition:ease-out;
}
.login p{
    text-align: center;
    color: white;
    height: 30px;
    margin-top: 6px;
}
.login a{
    text-decoration: none;
    color: orange;
}
.login-with{
    padding-bottom: 16px;
    text-align: center;
}
.icons{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.icons a{
    text-decoration: none;
    color: #fff;
    font-size: larger;
}
.icons a:hover{
    color: orange;
}


