body{
    background-image: url(https://www.codewithrandom.com/wp-content/uploads/2023/04/Copy-of-codewithrandom11-768x402.png);
    background-repeat: repeat;
}
.navbar{
    width: 100%;
    height: 70px;
    /* background-color: blue; */
    display: flex;
     flex-direction: row;
    justify-content: space-evenly;
}
.navbar a{
   text-decoration: none;
   color: brown;
   font-size: large;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar a:hover{
    color: springgreen;
}
.nav-barInput{
    border: 2px solid brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.search-Button{
    height: 30px;
    color: brown;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.login{
    width: 250px;
    height: 300px;
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1000px;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: large;
}
