body{
    background-image: url(https://cdn.wallpapersafari.com/28/77/XoaefB.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.navbar{
    width: 100%;
    height: 70px;
    /* background-color: blue; */
    display: flex;
     flex-direction: row;
    justify-content: space-evenly;
}
.navbar a{
   text-decoration: none;
   color: brown;
   font-size: large;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar a:hover{
    color: springgreen;
}
.nav-barInput{
    width: 170px;
    height: 40px;
    border: 2px solid brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.search-Button{
    width: 100px;
    height: 40px;
    margin-top: 10px;
    color: brown;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.login{
    width: 230px;
    height: 300px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1000px;
    margin-top: 150px;
    border-radius: 10px;
    padding: 25px;
}
.login-here{
    width: 140px;
    height: 26px;
    background-color: lightcoral;
    text-align: center;
    font-family:sans-serif;
    font-size: 20px;
    border-radius: 6px;
}
.login-form{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.login input{
    width: 240px;
    height: 34px;
    background:transparent;
    margin-top: 25px;
    color: white;
    letter-spacing: 1px;
    font-size:13px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.login input:focus{
    outline: none;
}
.btn{
    width: 240px;
    height: 40px;
    background-color: lightslategrey;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 5px;
}
